.fancybox-overlay
    background rgba($azulClaro, .8) !important

.fancybox-skin
    box-shadow none !important

.fancybox-close
    display block
    width 28px
    height 28px
    right 0
    top -28px
    background none
    &:before
    &:after
        content ''
        position absolute
        width 2px
        height 16px
        background #fff
        left 20px
        top 5px
    &:before
        transform rotate(45deg)
    &:after
        transform rotate(-45deg)
