footer
    background $azul
    border-top 5px solid #0480A4
    padding 20px 0
    .center
        display flex
        justify-content space-between
        +mobile()
            display block
    .links
        +mobile()
            display none
        a
            display block
            lato 12
            color #fff
            margin-bottom 12px
            padding-left 15px
            position relative
            &:last-child
                margin-bottom 0
            &:hover
                color $verde
            &:before
                content ''
                position absolute
                left 0
                top 50%
                height 0
                width 0
                transform translateY(-50%)
                border-style solid
                border-width 4px 0 4px 7px
                border-color transparent transparent transparent $verde
    .info
        text-align center
        p
            margin 0
            lato 12
            color #fff
            &.telefone
                margin .5em 0
                lato 16 bold
        +mobile()
            width 100%
            margin-bottom 20px
    .copyright
        p
            margin 0
            lato 10
            color #fff
            a:hover
                color $verde
            + p
                margin-top 1em
        +mobile()
            width 100%
            text-align center
