header
    nav
        +above($tablet)
            display block !important
        display none
        background $azul
        text-align center
        height 28px
        font-size 0
        .center > a
            display inline-block
            vertical-align top
            lato 14
            color #fff
            height 28px
            line-height 28px
            padding 0 20px
            transition background .3s
            &:hover
            &.active
                background #0082A6
            &.login
            &.logout
                background $verde
                +below($tablet)
                    display inline-block
                    height 28px
                    line-height 28px
                    padding 0 15px
                    margin 0
                    &:hover
                        color #fff
                &:hover
                    background darken($verde, 5)
            &.logout
                .nome
                    display inline-block
                    max-width 140px
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                .x
                    display inline-block
                    width 14px
                    height 14px
                    background #db5916
                    position relative
                    vertical-align top
                    margin-top 7px
                    margin-left 4px
                    &:before
                    &:after
                        content ''
                        position absolute
                        width 2px
                        height 10px
                        background #fff
                        left 6px
                        top 2px
                    &:before
                        transform rotate(45deg)
                    &:after
                        transform rotate(-45deg)
        .social
            display inline-block
            margin 0 20px
            font-size 0
            height 28px
            vertical-align top
            +below($tablet)
                display block
                margin-right 0
                margin-bottom 10px
            a
                display inline-block
                width 17px
                height 100%
                background-position center
                background-repeat no-repeat
                margin 0 5px
                &.facebook
                    background-image $img('face.png')
                &.instagram
                    background-image $img('insta.png')
        +below($tablet)
            height auto
            text-align right
            padding 15px 0
            .center > a
                display block
                lato 15
                height auto
                line-height 1.2
                margin 7px 0
                padding 0
                &:hover
                &.active
                    background none
                    color $azulClaro
            .social
                margin-top 7px
                a:last-child
                    margin-right 0
    .logo
        background #fff
        height 130px
        +mobile()
            height auto
        .center
            clearfix()
            height 100%
            position relative
        a
            display block
            float left
            width 201px
            height 100%
            background $img('logo.png') no-repeat center
            text-indent -9999px
            +mobile()
                width calc('100% - 30px')
                height 85px
                background-size auto 60px
                background-position left center
        h2
            position absolute
            bottom 28px
            right 130px
            max-width calc('100% - 350px')
            lato 20 light
            text-transform uppercase
            color #ACACAC
            margin 0
            +tablet()
                font-size 16px
                max-width calc('100% - 250px')
                right 0
            +mobile()
                position relative
                float left
                display block
                width 100%
                bottom auto
                right auto
                max-width 100%
                lato 14
                text-align left
                padding 12px 0
        #mobile-toggle
            +above($tablet)
                display none
            display block
            background-color transparent
            border 0
            position relative
            float right
            height 100%
            width 30px
            outline 0
            padding 0
            cursor pointer
            +mobile()
                height 85px
            +tablet()
                padding-bottom 35px
            .lines
                display block
                width 100%
                height 4px
                background $azul
                position relative
                transition .3s ease
                border-radius 2px
                &:before
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    width 100%
                    height 4px
                    border-radius 2px
                    background $azul
                    transition .3s ease
                &:before
                    top 8px
                &:after
                    top -8px
            &.close
                .lines
                    background transparent
                    &:before
                    &:after
                        transform-origin 50% 50%
                        top 0
                    &:before
                        transform rotate3d(0,0,1,45deg)
                    &:after
                        transform rotate3d(0,0,1,-45deg)

.not-found
    width 100%
    text-align center
    padding 180px 0
    background $azulClaro
    +tablet()
        padding 120px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        padding 12px 18px
        border 2px solid $azul
        lato 14 bold
        color $azul
        text-transform uppercase

.main
    margin-bottom 50px
    +tablet()
        margin-bottom 35px
    +mobile()
        margin-bottom 25px
    .titulo
        background $azul
        padding 40px 0
        text-align center
        margin-bottom 20px
        h1
            prelude 42
            color #fff
            margin 0 0 .3em
        p
            margin 0
            color rgba(#fff, .5)
            lato 17
        +mobile()
            padding 25px 0
            h1
                font-size 28px
            p
                font-size 15px
