.lightbox-forms
    background $azul
    padding 40px 170px
    width 720px
    color #fff
    +tablet()
        width 580px
        padding 40px 80px
    +mobile()
        width 400px
        max-width 100%
        padding 30px
    h2
        margin 0 0 22px
        text-align center
        lato 20
    form
        .lightbox-response
            display none
            width 100%
            margin-top 10px
            border 2px solid darken($azul, 5)
            padding 10px
            lato 14
            text-transform uppercase
            color $verde
            margin-bottom 6px
            text-align center
        input
            display block
            width 100%
            margin-bottom 4px
            background #98BFD3
            color $azul
            padding 10px
            lato 16
            border 0
            outline 0
            +placeholder()
                color $azul
            +mobile()
                width 100%
        input[type='submit']
            width 100%
            display block
            background #0A80A3
            cursor pointer
            transition background .3s
            border 0
            outline 0
            color #fff
            lato 16 bold
            padding 12px
            margin 0
            &:hover
                background $verde
    .btn-esqueci
        display block
        width 100%
        text-align right
        color #fff
        lato 13 normal italic
        margin-top 5px
        &:hover
            color $verde
    .btn-cadastro
        width 100%
        display block
        background transparent
        border 2px solid #67A1AF
        transition background .3s, color .3s
        color #fff
        lato 16 bold
        padding 12px
        margin 30px 0 0
        text-align center
        &:hover
            background #67A1AF
            color $azul

.redefinir-senha
    background $azulClaro
    padding 80px 0
    +mobile()
        padding 30px 0
    h1
        text-align center
        margin 0 0 1em
        lato 24
        color $azul
        +mobile()
            font-size 20px
    form
        width 100%
        max-width 480px
        margin 0 auto
        .error
            width 100%
            margin-top 10px
            border 2px solid rgba(#fff, .3)
            padding 10px
            lato 14
            text-transform uppercase
            color $azul
            margin-bottom 6px
            text-align center
        input
            display block
            width 100%
            margin-bottom 4px
            background #98BFD3
            color $azul
            padding 10px
            lato 16
            border 0
            outline 0
            +placeholder()
                color $azul
            +mobile()
                width 100%
        input[type='submit']
            width 100%
            display block
            background #0A80A3
            cursor pointer
            transition background .3s
            border 0
            outline 0
            color #fff
            lato 16 bold
            padding 12px
            margin 0
            &:hover
                background $verde

.aviso-header
    background $azulClaro
    padding 20px 0
    lato 14
    color $azul
    text-align center

+above($mobile)
    .lightbox-selecao-login
        max-width 400px
        padding-left 60px
        padding-right 60px

.selecao-login
    a
        display block
        width 100%
        margin 0
        flex none
        + a
            margin-top 4px
        background #0A80A3
        transition background .3s
        padding 20px 0
        &:hover
            background $verde
        p
            display block
            width 100%
            text-align center
            color #fff
            line-height 1.2
            margin 0
            lato 17 bold
            +below($tablet)
                font-size 16px
            span
                display block
                font-size 12px
                margin-bottom 3px
                +below($tablet)
                    margin-bottom 1px
