desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul      = #00647C
$azulClaro = #78B0C9
$verde     = #34ca9c

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i')

lato($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

@font-face
    font-family 'Prelude';
    src url('../fonts/preludeflf-webfont.woff2') format('woff2'),
        url('../fonts/preludeflf-webfont.woff') format('woff');
    font-weight normal
    font-style normal

prelude($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Prelude', 'Georgia', 'Times New Roman', serif
    font-weight normal
