.aparelhos-index
    background #00647C
    padding 35px 0
    text-align center
    +mobile()
        padding 25px 0
    h1
        prelude 40
        color #fff
        margin 0
        +mobile()
            font-size 28px
    p
        color $azulClaro
        lato 15
        margin 15px 0 25px
        +mobile()
            font-size 13px
    form
        font-size 0
        label
            width 11.111%
            display inline-block
            vertical-align top
            padding 0 7px
            text-align center
            position relative
            cursor pointer
            +tablet()
                width 33.333%
                padding 0 12px
                margin-bottom 20px
            +mobile()
                width 50%
                padding 0 12px
                margin-bottom 20px
            +above($tablet)
                &:hover .tooltip
                    opacity 1
                    visibility visible
                    top 0
            .tooltip
                +above($tablet)
                    position absolute
                    left 50%
                    top 50px
                    transform translateX(-50%) translateY(-50%)
                    background #E7E5E5
                    width 200px
                    z-index 9999
                    lato 14
                    transition all .3s
                    color #666
                    text-align center
                    border-radius 4px
                    border 2px solid #7C7E7F
                    padding 10px
                    opacity 0
                    visibility hidden
                    &:before
                        content ''
                        display block
                        position absolute
                        left 50%
                        top 100%
                        width 0
                        height 0
                        transform translateX(-10px)
                        border 10px solid transparent
                        border-top-color #7C7E7F
                    &:after
                        content ''
                        display block
                        position absolute
                        left 50%
                        top 100%
                        width 0
                        height 0
                        transform translateX(-7px)
                        border 7px solid transparent
                        border-top-color #E7E5E5
                +below($tablet)
                    display block
                    lato 14
                    color $verde
                    margin-top 10px
                +mobile()
                    lato 13
            input
                outline 0
                cursor pointer
            img
                display block
                max-width 100%
                margin 0 auto 10px
        input[type='submit']
            lato 18
            color #fff
            border 1px solid #fff
            padding 14px 90px
            margin-top 25px
            outline 0
            background transparent
            transition background .3s, opacity .3s
            cursor pointer
            &:hover
                background #0082A6
            &:disabled
                background rgba(#000, .3)
                opacity .3
                cursor default
            +mobile()
                margin-top 15px
                padding 12px 50px
                lato 16

.aparelhos-texto
    text-align left
    padding 30px 0
    +mobile()
        text-align left
        padding 25px 0 10px
    p
        lato 16
        color $azul
        max-width 700px
        margin-left auto
        margin-right auto
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0

.aparelhos-dados
    background #00647C
    padding 35px 0
    text-align center
    +mobile()
        padding 25px 0
    h1
        prelude 40
        color #fff
        margin 0
        +mobile()
            font-size 28px
    p
        color $azulClaro
        lato 20
        margin 15px 0 25px
        +mobile()
            font-size 16px
    .dados
        width 100%
        display block
        max-width 765px
        margin 0 auto 45px
        clearfix()
        .col
            width calc('50% - 5px')
            float left
            + .col
                float right
            +mobile()
                width 100%
                + .col
                    margin-top 10px
        .response
            display none
            width 100%
            margin-top 10px
            border 2px solid darken($azul, 5)
            padding 10px
            lato 14
            text-transform uppercase
            color $verde
            margin-top 6px
            text-align center
        #form-cadastro-aparelhos
            input
                width 100%
                margin-bottom 4px
                background $azulClaro
                color $azul
                padding 10px
                lato 16
                border 0
                outline 0
                +placeholder()
                    color $azul
                &:nth-child(2n)
                    margin-right 0
                +mobile()
                    width 100%
                    margin-right 0
            input[type='submit']
                width 100%
                display block
                max-width 765px
                background #0082A6
                cursor pointer
                transition background .3s
                &:hover
                    background $verde
                border 0
                outline 0
                color #fff
                lato 16 bold
                padding 10px
        .wrapper-login
            background $azulClaro
            min-height 290px
            position relative
            .btn-entrar
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                display flex
                flex-direction column
                align-items center
                justify-content center
                p
                    lato 15
                    color $azul
                    margin 0 0 10px
                span
                    display inline-block
                    background #0082A6
                    lato 16 bold
                    padding 10px 70px
                    color #fff
                    transition background .3s
                &:hover
                    span
                        background $azul
            .login-aparelhos
                display none
                top 0
                left 0
                padding 55px 20px 0
                p
                    lato 18 light
                    color #fff
                    margin 0 0 6px
                input
                    display block
                    width 100%
                    margin-bottom 4px
                    background transparent
                    color $azul
                    padding 10px
                    lato 16
                    border 1px solid $azul
                    outline 0
                    +placeholder()
                        color $azul
                    +mobile()
                        width 100%
                input[type='submit']
                    width 100%
                    display block
                    background #0A80A3
                    cursor pointer
                    transition background .3s
                    border 0
                    outline 0
                    color #fff
                    lato 16 bold
                    padding 10px
                    margin 0
                    &:hover
                        background $azul
                .btn-esqueci
                    display block
                    width 100%
                    text-align right
                    color #fff
                    lato 13 normal italic
                    margin-top 5px
                    &:hover
                        color $azul
    .necessidades
        font-size 0
        + p
            margin-top 35px
            +tablet()
                margin-top 20px
            +mobile()
                margin-top 10px
        label
            width 11.111%
            display inline-block
            vertical-align top
            padding 0 7px
            text-align center
            position relative
            +tablet()
                width 33.333%
                padding 0 12px
                margin-bottom 20px
            +mobile()
                width 50%
                padding 0 12px
                margin-bottom 20px
            span
                display block
                lato 15
                color $verde
                margin-top 10px
            +mobile()
                lato 13
            img
                display block
                max-width 100%
                margin 0 auto 10px
    .filtros
        width 100%
        max-width 915px
        margin 0 auto
        margin-bottom 35px
        clearfix()
        select
            width calc('50% - 5px')
            float left
            background #99C1D5
            lato 17 light
            padding 10px
            color $azul
            border 0
            outline 0
            height 40px
            + select
                float right
            +mobile()
                font-size 14px
                width 100%
                + select
                    margin-top 5px
    .classificacao
        width 100%
        display block
        margin-bottom 15px
        text-align center
        font-size 0
        span
            display inline-block
            width 30px
            height 29px
            margin 0 1px
            &.estrela
                background $img('estrela.png') no-repeat center
            &.vazio
                background $img('estrela-vazia.png') no-repeat center
    .aparelhos-thumbs
        font-size 0
        + .classificacao
            margin-top 35px
        a
            width 20%
            display inline-block
            vertical-align top
            padding 0 20px 20px
            +tablet()
                width 25%
            +mobile()
                width 50%
            img
                max-width 100%
                border 5px solid #0082A6
                transition border .3s
            span
                display block
                margin-top 10px
                text-align center
                lato 16
                color #fff
            &:hover img
                border-color #33CC99

.aparelhos-estabelecimentos
    padding 35px 0
    .mapa-wrapper
        width 100%
        height 320px
        margin 30px 0
        +mobile()
            height 250px
            margin 25px 0
        #mapa-estabelecimentos
            width 100%
            height 100%
    +mobile()
        padding 25px 0
    .aparelhos-estabelecimentos-box
        background $azul
        margin-top -35px
        padding 35px 0
        margin-bottom 30px
        .mapa-wrapper
            margin-bottom 0
        +mobile()
            margin-top -25px
            padding 25px 0
            margin-bottom 25px
        p
            color #fff !important
    .center > p
        lato 20px
        color $azul
        margin 0 0 15px
        text-align center
        +mobile()
            font-size 16px
    .center > div
        font-size 0
        display flex
        flex-wrap wrap
        .estabelecimento
            display inline-block
            text-align left
            position relative
            vertical-align top
            width calc('33.333% - 6.667px')
            margin-right 10px
            margin-bottom 10px
            &:nth-child(3n)
                margin-right 0
            +tablet()
                width calc('50% - 5px')
                &:nth-child(2n)
                    margin-right 0
                &:nth-child(3n)
                    margin-right 10px
            +mobile()
                width 100%
                margin-right 0
            border 1px solid rgba($azul, .5)
            padding 15px
            padding-right 65px
            color $azul
            h3
                display block
                lato 18 normal italic
                margin 0 0 5px
            > span
                lato 14
                display inline-block
                margin 5px 0
                cursor pointer
                color #fff
                padding 5px
                background #78B0CA
                transition background .3s
                &:hover
                    background darken(#78B0CA, 5)
                &.active
                    lato 16 bold
                    color $azul
                    background none !important
                    padding 0
                    cursor default
            p
                display block
                lato 15
                margin 0
            a
                position absolute
                width 37px
                height 37px
                top 15px
                right 15px
                background $img('site-link.png') no-repeat center
                display block
            .avaliacao
                width calc('100% + 50px')
                background $azul
                padding 7px 0 10px 20px
                margin-top 10px
                p
                    display inline-block
                    lato 14 bold
                    color #fff
                    margin-right 5px
                .estrelas
                    display inline-block
                    font-size 0
                    transform translateY(4px)
                    span
                        display inline-block
                        width 30px
                        height 29px
                        margin 0 1px
                        background $img('estrela-vazia.png') no-repeat center
                        &.selecionado
                            background $img('estrela.png') no-repeat center
                        &.avaliado
                            background $img('estrela.png') no-repeat center !important
                    &.estrelas-avaliar span
                        cursor pointer
            .estabelecimento-marcas
                width calc('100% + 50px')
                margin-top 15px
                span
                    display block
                    lato 9
                    margin-bottom 4px
                div
                    display block
                    font-size 0
                    p
                        display inline-block
                        vertical-align top
                        margin 0
                        width 48%
                        lato 12
                        &:nth-child(2n)
                            margin-left 4%
                        +mobile()
                            display block
                            width 100%
                            margin 0 !important


.aparelhos-interna
    .descritivo
        background $azul
        padding 30px 0 50px
        clearfix()
        +mobile()
            padding 25px 0 30px
        img
            float left
            width 33.333%
            height auto
            border 15px solid #00779C
            +mobile()
                border-width 10px
                width 100%
                max-width 370px
        .texto
            float right
            width 62%
            +mobile()
                width 100%
            h1
                lato 30
                color #fff
                text-transform uppercase
                text-align left
                margin 1em 0
                span
                    display block
                    &:last-child
                        font-weight 700
                        font-style italic
                +mobile()
                    font-size 20px
            p
                lato 15
                color #fff
                &:last-child
                    margin-bottom 0
            ul
                lato 15
                color #fff
                list-style-type none
                padding 0
                &:last-child
                    margin-bottom 0
                li
                    margin 2px 0
                    position relative
                    padding-left 1em
                    &:before
                        content '\00b7'
                        position absolute
                        top 0
                        left 0
        .avaliacao
            width 100%
            float left
            margin-top 40px
            p
                prelude 38
                color #fff
                display inline-block
                margin 0
                margin-right 10px
            .estrelas
                display inline-block
                font-size 0
                transform translateY(4px)
                span
                    display inline-block
                    width 30px
                    height 29px
                    margin 0 1px
                    background $img('estrela-vazia.png') no-repeat center
                    &.selecionado
                        background $img('estrela.png') no-repeat center
                    &.avaliado
                        background $img('estrela.png') no-repeat center !important
                &.estrelas-avaliar span
                    cursor pointer
            +tablet()
                margin-top 25px
                p
                    font-size 30px
            +mobile()
                margin-top 25px
                p
                    font-size 24px
                .estrelas
                    display block
                    transform none

    .aparelhos-voltar
        background $azul
        padding 40px 0
        text-align center
        a
            display inline-block
            background transparent
            border 2px solid $verde
            padding 15px 48px
            lato 20 light
            line-height 1.3
            color #fff
            text-transform uppercase
            transition background .3s, color .3s
            &:hover
                background $verde
                color $azul
        +mobile()
            padding 25px 0
            a
                padding 12px
                font-size 16px

.busca-estabelecimento
    background $azul
    padding 35px 0 40px
    +mobile()
        padding 20px 0 25px
    p
        text-align center
        lato 20
        color $azulClaro
        margin 0 0 25px
        +mobile()
            font-size 16px
            margin-bottom 15px
    form
        width 100%
        max-width 720px
        margin 0 auto
        font-size 0
        + form
            margin-top 10px
        input
        button
            display inline-block
            height 32px
            width calc('50% - 2px')
            border 1px solid #fff
            color #fff
            background transparent
            lato 14
            padding 0 10px
            vertical-align top
            outline 0
            +placeholder()
                color rgba(#fff, .8)
            &:first-child
                margin-right 4px
            +mobile()
                width 100%
                &:first-child
                    margin-right 0
                    margin-bottom 4px
        button
            position relative
            border-color $verde
            background $verde
            cursor pointer
            transition background .3s, color .3s
            text-align left
            color $azul
            &:after
                content ''
                position absolute
                width 0
                height 0
                right 10px
                top 50%
                margin-top -4px
                border-style solid
                border-width 4px 0 4px 8px
                border-color transparent transparent transparent $azul
                transition border .3s
            &:hover
                background transparent
                color $verde
                &:after
                    border-color transparent transparent transparent $verde

.estabelecimentos-divider
    border 1px solid $azul
    margin 25px 0 30px
