.blog
    overflow-x hidden
    .center
        clearfix()
    aside
        width 30%
        float left
        background $azul
        z-index 2
        position relative
        +mobile()
            width 100%
            margin-top 30px
        h2
            prelude 42
            color #fff
            margin 20px 0 0
            padding 0 18px
        h4
            lato 14
            width 160px
            color #fff
            padding-bottom 8px
            border-bottom 1px solid #fff
            margin 0 0 10px
            text-transform uppercase
        .categorias
        .arquivo
            padding 20px 18px
            a
                display block
                text-transform uppercase
                lato 14
                color #fff
                margin-bottom 12px
                padding-left 15px
                position relative
                &:last-child
                    margin-bottom 0
                &:hover
                    color $verde
                &:before
                    content ''
                    position absolute
                    left 0
                    top 50%
                    height 0
                    width 0
                    transform translateY(-50%)
                    border-style solid
                    border-width 4px 0 4px 7px
                    border-color transparent transparent transparent $verde
        .arquivo
            background #0082A6
        .ebook
            display block
            padding 20px 18px
            padding-left 140px
            background $img('ebook.png') no-repeat 18px 20px #78B0CA
            min-height 140px
            +below($tablet)
                background-size 60px 60px
                padding-left 100px
                min-height 100px
            span
                color $azul
                prelude 24
            p
                margin 5px 0 0
                lato 16 bold
                color #fff
                text-transform uppercase
                transition color .3s
            &:hover
                p
                    color $azul
        .leia-tambem
            background #0082A6
            h3
                prelude 42
                color #64B7D5
                padding 20px 18px 0
                margin 0
                +mobile()
                    font-size 38px
            a
                display block
                padding 10px
                border-bottom 1px solid rgba(#fff, .5)
                img
                    display block
                    width 100%
                span
                    lato 18 bold italic
                    color $verde
                    display block
                    margin 10px 0 0
                    transition color .3s
                &:last-child
                    border-bottom none
                &:hover
                    span
                        color #fff
    .blog-index
        width 66.667%
        float right
        +mobile()
            width 100%
        .thumb-destaque
            padding 10px 0 20px
            background $verde
            position relative
            margin-bottom 10px
            &:before
            &:after
                content ''
                position absolute
                top 0
                height 100%
                width 2000px
                background $verde
            &:before
                right 100%
            &:after
                left 100%
            a
                display block
                &:hover .imagem:after
                    opacity 1
            h2
                prelude 42
                color $azul
                margin 15px 0 5px
            p
                lato 16
                color $azul
                margin 0
            .imagem
                width 100%
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($azul, .5)
                    opacity 0
                    transition opacity .3s
                    z-index 9
                img
                    width 100%
                    display block
                .leia-mais
                    position absolute
                    left 0
                    width 100%
                    bottom 0
                    background rgba($verde, .5)
                    padding 10px
                    clearfix()
                    span
                        display inline-block
                        &:first-child
                            float left
                            lato 15
                            color #fff
                            text-transform uppercase
                        &:last-child
                            float right
                            prelude 16
                            line-height 1
                            color $azul
                            padding-right 25px
                            background $img('setas-blog.png') no-repeat right 45%
                        +mobile()
                            display block
                            &:last-child
                                display none
            +mobile()
                h2
                    font-size 28px
                p
                    font-size 15px
        .thumb-normal
            display block
            width 100%
            background #78B0C9
            clearfix()
            padding 10px
            margin-bottom 10px
            transition background .3s
            &:hover
                background darken(#78B0C9, 10)
            img
                float left
                width 43%
                display block
                +mobile()
                    width 100%
            .texto
                width 54%
                margin-left 3%
                float left
                +mobile()
                    width 100%
                    margin 0
                h3
                    lato 24 bold italic
                    color #fff
                    margin 15px 0 20px
                p
                    lato 15
                    color $azul
                    text-transform uppercase
                    position relative
                    padding-top 7px
                    margin 0
                    &:before
                        content ''
                        position absolute
                        top 0
                        left 0
                        width 120px
                        height 1px
                        background $azul
        .pager
            width 100%
            text-align center
            padding 20px 0 0
            margin-top 20px
            border-top 1px solid rgba($azul, .5)
            font-size 0
            clearfix()
            li
                display block
                border 1px solid $azul
                &.disabled
                    display none
                &:first-child
                    float left
                &:last-child
                    float right
                a
                    display block
                    padding 6px 14px 9px
                    lato 18
                    color $azul
                    line-height 1
                    transition background .3s
                    &:hover
                        background $azulClaro
    .blog-show
        width 66.667%
        float right
        +mobile()
            width 100%
        .show-imagem
            padding 10px 0
            background $verde
            position relative
            margin-bottom 20px
            &:before
            &:after
                content ''
                position absolute
                top 0
                height 100%
                width 2000px
                background $verde
            &:before
                right 100%
            &:after
                left 100%
            .imagem
                width 100%
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($azul, .5)
                    opacity 0
                    transition opacity .3s
                    z-index 9
                img
                    width 100%
                    display block
                .info
                    position absolute
                    left 0
                    width 100%
                    bottom 0
                    background rgba($verde, .5)
                    padding 10px
                    clearfix()
                    span
                        display inline-block
                        &:first-child
                            float left
                            lato 14
                            color #fff
                            text-transform uppercase
                        &:last-child
                            float right
                            lato 13 bold
                            color #fff
                            text-transform uppercase
                            padding-left 30px
                            background $img('balao-comentario.png') no-repeat left center
                            background-size auto 16px
                        +mobile()
                            display block
                            &:last-child
                                display none
        h1
            prelude 42
            color $azul
            margin 0 0 .3em
            +mobile()
                font-size 28px
        > p
            lato 16
            color $azul
            a
                color $verde
                text-decoration underline
            &:last-child
                margin-bottom 0
            img
                width 100%
                display block
        .comentarios
            margin-top 40px
            h5
                color $verde
                lato 16 bold
                margin 0 0 10px
                &.balao
                    display inline-block
                    padding-right 32px
                    background $img('balao-comentario-verde.png') no-repeat center right
                    background-size auto 100%
            .comentario
                background #D3EDE4
                padding 20px
                margin-bottom 10px
                +mobile()
                    padding 10px
                p
                    lato 16 normal italic
                    margin-top 0
                    color $azul
                    &:last-child
                        margin 15px 0 0
                        prelude 16
                        span
                            lato 12
                            color $verde
                            margin-left 20px
                + h5
                    margin-top 30px
            form
                background $verde
                padding 20px
                clearfix()
                input
                textarea
                    background #59D6AC
                    outline 0
                    border 0
                    lato 14
                    margin-bottom 2px
                    display block
                    width 100%
                    border-radius 0
                    padding 8px
                    resize none
                    color $azul
                    +placeholder()
                        color $azul
                    &#nome
                    &#email
                        width calc('50% - 1px')
                        float left
                    &#email
                        float right
                    +mobile()
                        &#nome
                        &#email
                            float left
                            width 100%
                textarea
                    height 100px
                input[type=submit]
                    float right
                    width auto
                    background $azul
                    lato 14 bold
                    color $verde
                    transition color .3s
                    padding 8px 20px
                    cursor pointer
                    &:hover
                        color #fff
                #form-comentario-response
                    display none
                    width 100%
                    margin-top 4px
                    margin-bottom 4px
                    border 2px solid rgba(#fff, .5)
                    lato 12 bold
                    text-transform uppercase
                    color $azul
                    text-align center
                    padding 10px
                    float left

.popup-ebook
    min-width 450px
    padding 20px
    background #78B0CA
    min-height 140px
    +mobile()
        min-width auto
        width 100%
    h2
        lato 16 bold
        color #fff
        text-transform uppercase
        text-align left
        margin 0 0 1em
        span
            font-weight normal
            color $azul
            prelude 24
            display block
            margin-top 5px
            text-transform none
    form
        clearfix()
        input
            background rgba(#fff, .2)
            outline 0
            border 0
            lato 15
            color $azul
            +placeholder()
                color $azul
            margin-bottom 4px
            display block
            width 100%
            border-radius 0
            padding 5px 8px
            resize none
        input[type=submit]
            float right
            width auto
            background $azul
            lato 15 bold
            color #fff
            transition background .3s, color .3s
            padding 8px 30px
            cursor pointer
            margin-bottom 0
            &:hover
                background $verde
                color $azul
        #form-ebook-response
            display none
            width 100%
            margin-bottom 4px
            border 2px solid rgba(#000, .3)
            lato 12 bold
            text-transform uppercase
            color rgba(#000, .7)
            text-align center
            padding 10px
    .ebook-download-link
        display none
        margin 20px 0 0
        a
            display block
            width 100%
            background $azul
            lato 16 bold
            color #fff
            transition background .3s, color .3s
            padding 12px 30px
            cursor pointer
            text-align center
            &:hover
                background $verde
                color $azul
