.contato
    background $azulClaro
    .center
        clearfix()
    .info
        width 33.333%
        float left
        padding-top 65px
        p
            lato 17 normal italic
            color $azul
            margin 0
            &.telefone
                lato 25 bold
                margin 0 0 15px
        +mobile()
            width 100%
            padding-top 25px
    #form-contato
        width 63.333%
        float right
        +mobile()
            width 100%
        h2
            prelude 36
            color $azul
            margin 25px 0 5px
        input
        textarea
            background #98C1D5
            outline 0
            border 0
            lato 16
            margin-bottom 2px
            display block
            width 100%
            border-radius 0
            padding 8px
            resize none
            color $azul
            +placeholder()
                color $azul
            &#nome
            &#telefone
                width calc('50% - 1px')
                float left
            &#telefone
                float right
        textarea
            height 150px
        input[type=submit]
            width 100%
            background $azul
            lato 16 bold
            color #fff
            transition background .3s
            padding 8px
            cursor pointer
            &:hover
                background $verde
        #form-contato-response
            display none
            width 100%
            margin-top 4px
            margin-bottom 4px
            border 2px solid rgba(#fff, .5)
            lato 12 bold
            text-transform uppercase
            color $azul
            text-align center
            padding 10px
    .mapa
        width 100%
        height 550px
        margin-top 35px
        +tablet()
            height 360px
        +mobile()
            margin-top 25px
            height 280px
        iframe
            width 100%
            height 100%
            display block
