.empresa
    position relative
    overflow hidden
    .banner
        position absolute
        top 0
        left 50%
        width 2000px
        height 180px
        font-size 0
        transform translateX(-1000px)
        clearfix()
        img
            display block
            float left
        +below($tablet)
            position relative
            left auto
            width 100%
            height auto
            transform none
            img
                width 20%
    .center
        clearfix()
        +below($tablet)
            width 100%
    .texto
        background $azul
        padding 70px 100px
        width 800px
        float left
        p
            lato 17
            color #fff
            line-height 1.4
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        +tablet()
            width 66.667%
            padding 30px 40px
        +mobile()
            width 100%
            padding 20px 25px
            p
                font-size 15px
    .imagem
        float left
        width 400px
        margin-top 180px
        img
            width 100%
            display block
        +tablet()
            width 33.333%
            margin-top 0
        +mobile()
            width 100%
            margin-top 0
