.especialistas-wrapper
    background #F2F2F2
    padding 30px 0
    margin-bottom 30px
    color $azul
    h2
        margin 0 0 2em
        text-align center
        lato 22
        +mobile()
            font-size 18px
            margin-bottom 1.5em
    .nenhum-registro
        text-align center
        lato 15
        color $azul

.login-especialistas
    width 100%
    form
    .btn-cadastro
        max-width 420px
        margin-left auto
        margin-right auto
    .lightbox-response
        display block !important

.cadastro-especialistas
    width 100%
    background $azul
    padding 40px 120px
    color #fff
    clearfix()
    +tablet()
        padding 40px 60px
    +mobile()
        padding 30px
    > p
        text-align center
        lato 15
        margin -2em 0 1.5em
        +mobile()
            font-size 14px
            margin -1em 0 1.5em
    form
        width 100%
        max-width 550px
        margin 0 auto
    .aviso-erros
    .aviso-sucesso
        background #bb4141
        border-radius 3px
        margin 25px 0
        padding 12px
        color #fff
        lato 14
        text-align center
        letter-spacing .5px
        text-transform uppercase
    .aviso-sucesso
        background $verde
        color $azul
    .erro
        border 2px solid #bb4141
    img
        float left
        width 100%
        max-width 90px
        margin-bottom 3px
    .alterar-senha
        display block
        width 100%
        float left
        margin-top 25px
        margin-bottom 4px
        lato 15
        font-style italic
    input
    select
        display block
        width 100%
        float left
        margin-bottom 3px
        background #98BFD3
        color $azul
        padding 8px 10px
        lato 16
        border 0
        outline 0
        &:disabled
            opacity .5
        +placeholder()
            color $azul
        +mobile()
            font-size 14px
            width 100% !important
        &[name$=numero]
            width calc('50% - 1.5px')
            margin-right 3px
        &[name$=complemento]
            width calc('50% - 1.5px')
        &[name$=cidade]
            width calc('75% - 1.5px')
            margin-right 3px
        &[name$=uf]
            width calc('25% - 1.5px')
        &[name=nome_exibicao]
        &[name=senha]
            margin-top 8px
    .cep-consulta
        float left
        width 100%
        input
            width 50% !important
            height 34px
        a
            display block
            width 50%
            height 34px
            float left
            background #0A80A3
            color $verde
            line-height 34px
            text-align center
            lato 15
            transition background .3s, color .3s
            +mobile()
                font-size 14px
            &:hover
                background $verde
                color $azul
    .foto-input
        float left
        width 100%
        position relative
        margin-bottom 3px
        input
            width 0.1px !important
            height 0.1px !important
            opacity 0 !important
            overflow hidden !important
            position absolute !important
            z-index -1 !important
        span
            cursor default
            display block
            width 50%
            height 34px
            float left
            background #98BFD3
            color $azul
            padding 8px 10px
            lato 11
            text-overflow ellipsis
            white-space nowrap
            overflow hidden
            em
                lato 15
        label
            cursor pointer
            display block
            width 50%
            height 34px
            float left
            background #0A80A3
            color $verde
            line-height 34px
            text-align center
            lato 15
            transition background .3s, color .3s
            +mobile()
                font-size 14px
            &:hover
                background $verde
                color $azul
    .marcas
        width 100%
        float left
        margin-top 20px
        h4
            lato 14
            color #fff
            margin 0 0 .5em
        .marcas-box
            background #98BFD3
            padding 15px 20px
            display flex
            flex-wrap wrap
            label
                display flex
                cursor pointer
                padding 5px 0
                width 49%
                margin-right 2%
                &:nth-child(2n)
                    margin-right 0
                +mobile()
                    width 100%
                    + label
                        padding-top 0
                input
                    width auto !important
                    float none !important
                    margin 0 !important
                    background none
                    padding 0 !important
                    transform translateY(2px)
                    cursor pointer
                span
                    flex 1
                    padding-left 8px
                    lato 14
                    color $azul
    .submit
        width 100%
        float left
        text-align center
        margin-top 30px
        input
            display inline-block
            width 100%
            float none
            background #0A80A3
            cursor pointer
            transition background .3s
            border 0
            outline 0
            color #fff
            lato 16 bold
            padding 12px
            margin 0
            &:hover
                background $verde

.especialistas-avisos
    .aviso
        position relative
        text-decoration none
        display block
        margin-bottom 3%
        background #fff
        padding 30px
        +mobile()
            margin-bottom 15px
            padding 20px
        h3
            margin 0 0 .7em
            lato 20
            color $azul
            +mobile()
                font-size 17px
        > a
            display block
            background #77AEC8
            color #fff
            lato 14
            padding 5px
            transition background .3s
            margin-top 1em
            &:hover
                background $azul
        .texto
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0
            color $azul
            a
                text-decoration underline
                &:hover
                    color $verde
            p
            ul
                lato 14
            ul
                padding 0
                list-style none
                li
                    position relative
                    padding-left 1em
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                    + li
                        margin-top 4px
        img
            display block
            width 100%
    .aviso
    .grid-sizer
        width 31.333%
        +below($tablet)
            width 48.5%
        +mobile()
            width 100%
    .gutter-sizer
        width 3%
        +mobile()
            width 0

.especialistas-aulas
    clearfix()
    .aulas-categorias
        width 29.16%
        float left
        a
            display block
            background $azul
            color $verde
            transition background .3s, color .3s
            padding 18px
            lato 16
            + a
                margin-top 4px
            &:hover
            &.active
                color $azul
                background $verde
        +mobile()
            width 100%
            a
                padding 10px
                font-size 14px
    .aulas-thumbs
    .aulas-show
        width 66.667%
        float right
        +mobile()
            width 100%
            margin-top 20px
    .aulas-thumbs
        a
            display block
            background #fff
            padding 30px
            transition background .3s
            &:hover
                background $verde
            clearfix()
            img
                width 40%
                float left
            .texto
                width 56%
                float right
                h3
                    lato 20
                    margin 0 0 1em
                p
                    lato 15
                    margin 0
            + a
                margin-top 30px
            +mobile()
                padding 15px
                img
                    width auto
                    max-width 100%
                .texto
                    width 100%
                    margin-top 15px
                    h3
                        font-size 17px
                    p
                        font-size 14px
                + a
                    margin-top 15px
    .aulas-show
        background #fff
        padding 30px
        +mobile()
            padding 15px
        .video-wrapper
            position relative
            padding-bottom 56.25%
            height 0
            overflow hidden
            max-width 100%
            iframe
                position absolute
                top 0
                left 0
                width 100%
                height 100%
        h1
            lato 24
            margin .6em 0
            +mobile()
                font-size 17px
        .chamada
            margin 0
            lato 13
            font-style italic
        .texto
            margin-top 55px
            +mobile()
                margin-top 25px
            span
                lato 12
                display block
                margin-bottom 10px
            *:first-child
                margin-top 0
            *:last-child
                margin-bottom 0
            p
            ul
                lato 15
                +mobile()
                    font-size 14px
            ul
                padding 0
                list-style none
                li
                    position relative
                    padding-left 1em
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                    + li
                        margin-top 4px
        .downloads
            border-top 1px solid $verde
            padding-top 30px
            margin-top 55px
            +mobile()
                margin-top 25px
            span
                lato 12
                display block
                margin-bottom 20px
            a
                display block
                background $img('icone-pdf.png') no-repeat 15px center #F2F2F2
                padding 15px
                padding-left 70px
                lato 16 bold
                font-style italic
                color $azul
                transition background .3s, color .3s
                + a
                    margin-top 5px
                &:hover
                    background-color $azul
                    color #fff
                +mobile()
                    font-size 14px

.pergunte-nav
    display block
    width 100%
    margin-bottom 30px
    font-size 0
    text-align center
    a
        display inline-block
        background $azul
        color $verde
        lato 15
        padding 15px
        vertical-align middle
        transition background .3s, color .3s
        &:first-child
            border-radius 4px 0 0 4px
        &:last-child
            border-radius 0 4px 4px 0
        .label
            display inline
            font-size 10px
            margin-left 5px
            background rgba(#000, .2)
            padding 4px 8px
            vertical-align baseline
            line-height 1
            border-radius 5px
            transition background .3s
            white-space nowrap
        &.active
        &:hover
            background $verde
            color $azul
            .label
                background rgba(#fff, .2)
        &.active
            box-shadow inset 0 0 7px rgba(#000, .3)
    +mobile()
        margin-bottom 20px
        a
            font-size 14px
            display block
            &:first-child
                border-radius 4px 4px 0 0
            &:last-child
                border-radius 0 0 4px 4px

.especialistas-wrapper .alert
    text-align center
    lato 14
    &.alert-block
        background $verde
        margin-bottom 20px
        border-radius 4px
        padding 12px
        button
            display none
        &.alert-danger
            background #bb4141
            color #fff

.lista-perguntas
    a
        display block
        padding 30px
        background $azul
        transition background .3s
        color #fff
        lato 15
        line-height 1.3
        + a
            margin-top 10px
        &:hover
            background #0A80A3
        +mobile()
            padding 20px
            font-size 14px

.form-pergunta
    max-width 720px
    margin 0 auto
    width 100%
    h1
        lato 18 bold
        margin 0 0 1em
        small
            display block
            font-size 12px
            margin-bottom 8px
    textarea
        width 100%
        display block
        background #98BFD3
        color $azul
        padding 8px 10px
        lato 16
        border 0
        outline 0
        resize none
        margin-bottom 10px
        +placeholder()
            color $azul
    input[type=submit]
        display inline-block
        background #0A80A3
        cursor pointer
        transition background .3s
        border 0
        outline 0
        color #fff
        lato 16 bold
        padding 12px 24px
        text-transform uppercase
        margin 0
        margin-right 10px
        &:hover
            background $verde
    a
        lato 14
        color $azul
        &:hover
            color $verde
        +mobile()
            display block
            margin-top 10px

ul.pagination
    text-align center
    margin-top 25px
    li
        display inline-block
        lato 15
        color $azul
        margin 0 3px
        &.active
            color $verde
            font-weight 700

.lista-respostas
    .resposta
        background $azul
        color #fff
        padding 30px
        +mobile()
            padding 20px
        display flex
        flex-wrap wrap
        span
            display block
            &:first-child
                lato 15
                flex 1
                +mobile()
                    font-size 14px
                    flex auto
            &:last-child
                border 1px solid $verde
                padding 15px
                color $verde
                lato 13
                text-align center
                align-self flex-start
                +mobile()
                    width 100%
                    display block
                    margin-top 10px
        + .resposta
            margin-top 10px
