.faq
    .pergunta
        width 100%
        max-width 875px
        margin 0 auto 5px
        background #F2F2F2
        border-left 2px solid $verde
        transition border .3s
        &:hover
            border-color $azul
        &.active
            border-color $verde !important
        .handle
            display block
            padding 12px
            padding-right 40px
            lato 17
            color $azul
            position relative
            &:after
                content ''
                position absolute
                width 23px
                height 100%
                top 0
                right 10px
                background $img('sinal_mais.png') no-repeat center
        .resposta
            display none
            p
                lato 16
                padding 0 12px 0
                margin .5em 0
                color $azul
                &:first-child
                    margin-top 0
                &:last-child
                    padding-bottom 12px
        &.active
            .handle
                font-weight 700
                &:after
                    background-image $img('sinal_menos.png')
