.home
    margin-bottom 10px
    overflow-x hidden
    .banner
        width 2000px
        height 180px
        font-size 0
        margin-left 50%
        transform translateX(-1000px)
        clearfix()
        img
            display block
            float left
        +below($tablet)
            width 100%
            height auto
            margin 0
            transform none
            img
                width 20%
    .chamadas
        background #F2F2F2
        margin 10px 0 30px
        .center
            clearfix()
        .col
            width 33.33%
            float left
            padding 35px 25px
            +mobile()
                width 100%
                padding 25px 0 0
                &:last-child
                    padding-bottom 25px
            h2
                text-align right
                margin 0
                lato 20 bold
                color $azul
                +mobile()
                    text-align left
            p
                lato 15 normal italic
                color $azul
                margin 0 0 14px
            a
                display block
                border 1px solid $azul
                lato 16
                color $azul
                padding 14px
                text-align center
                transition color .3s, background .3s
                &:hover
                    background $azul
                    color #fff
    .blog
        h3
            prelude 36
            color $verde
            margin 0 0 15px
        > div
            clearfix()
        a
            display block
            width calc('33.333% - 26.667px')
            float left
            margin-right 40px
            transition background .3s
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 12px
            &:nth-child(3n)
                margin-right 0
            img
                width 100%
                display block
                border-top 5px solid $verde
                margin 0 0 15px
            h4
                lato 22 bold
                color $azul
                margin 0
            p
                lato 15
                color $azul
                margin 10px 0 15px
            h4
            p
                padding 0 12px
                transition color .3s
            .seta
                display block
                width 100%
                height 20px
                position relative
                background $verde
                &:after
                    content ''
                    position absolute
                    height 0
                    width 0
                    transform translateY(-50%)
                    border-style solid
                    border-width 5px 0 5px 7px
                    border-color transparent transparent transparent #fff
                    top 50%
                    right 10px
            &:hover
                background $azul
                h4
                p
                    color #fff
    .newsletter
        background #0082A6
        margin 45px 0 0
        padding 50px 0
        +mobile()
            padding 35px 0
            margin-top 25px
        form
            width 100%
            text-align center
            font-size 0
            p
                display inline-block
                lato 16
                color #fff
                margin 0
                margin-right 10px
                +below($tablet)
                    display block
                    margin 0 0 12px
                +mobile()
                    font-size 15px
            > input
                display inline-block
                lato 15
                color #fff
                padding 5px
                border 1px solid #fff
                outline 0
                margin-right 3px
                background transparent
                width 300px
                +placeholder()
                    color #fff
                +mobile()
                    display block
                    width 100%
                    margin 0 0 3px
            .botao
                display inline-block
                position relative
                vertical-align top
                cursor pointer
                transition background .3s
                &:hover
                    background #fff
                    &:after
                        border-color transparent transparent transparent $azul
                &:after
                    content ''
                    position absolute
                    height 0
                    width 0
                    transform translateY(-50%)
                    border-style solid
                    border-width 5px 0 5px 7px
                    border-color transparent transparent transparent #fff
                    transition border .3s
                    top 50%
                    left calc('50% - 3px')
                input
                    lato 14
                    border 1px solid #fff
                    padding 5px
                    outline 0
                    background transparent
                    width 30px
                    cursor pointer
            #form-newsletter-response
                width 100%
                display none
                margin-top 12px
                text-align center
                lato 13
                text-transform uppercase
                color rgba(#000, .7)
