.pergunte
    .login-pergunte
        display block
        width 100%
        max-width 450px
        border 2px solid $verde
        margin 0 auto 70px
        text-align center
        padding 20px
        lato 14
        color $azul
        text-transform uppercase
        transition background .3s, color .3s
        &:hover
            background $verde
            color #fff
        +tablet()
            margin-bottom 50px
        +mobile()
            margin-bottom 35px
    #form-pergunte
        width 100%
        max-width 650px
        margin 0 auto 70px
        +tablet()
            margin-bottom 50px
        +mobile()
            margin-bottom 35px
        clearfix()
        .col
            width calc('50% - 3px')
            float left
            + .col
                margin-left 6px
            +mobile()
                width 100%
                + .col
                    margin 0
        input
        textarea
            background #F2F2F2
            outline 0
            border 0
            lato 16
            margin-bottom 6px
            display block
            width 100%
            height 48px
            border-radius 0
            padding 0 10px
            resize none
            color $azul
            border-left 2px solid $verde
            +placeholder()
                color $azul
        textarea
            height 102px
            padding-top 14px
        input[type=submit]
            width 100%
            background $verde
            lato 16 bold
            color $azul
            transition background .3s, color .3s
            padding 8px
            cursor pointer
            border-left 0
            &:hover
                background $azul
                color #fff
        #form-pergunte-response
            display none
            width 100%
            border 2px solid $azul
            lato 12 bold
            text-transform uppercase
            color $azul
            text-align center
            padding 10px
            float left
    .especialistas
        text-align center
        font-size 0
        h2
            prelude 42
            color $azul
            margin 0 0 .5em
            +mobile()
                font-size 28px
        .especialista
            display inline-block
            vertical-align top
            width 25%
            padding 0 30px 30px
            img
                display block
                margin 0 auto
                max-width 100%
                border-radius 100%
                border 4px solid $verde
            span
                display block
                text-align center
                lato 16 bold italic
                color $azul
                margin-top 12px
            +tablet()
                padding 0 25px 25px
            +mobile()
                width 50%
                padding 0 20px 20px
                span
                    font-size 15px
    .respostas
        background #F2F2F2
        padding 40px 0
        margin-top 20px
        clearfix()
        h2
            prelude 42
            color $azul
            margin 0 0 .5em
            text-align center
            +mobile()
                font-size 28px
        .destaque
            width 100%
            background $azul
            padding 10px
            margin-bottom 40px
            +mobile()
                margin-bottom 25px
            clearfix()
            img
                width 40%
                display block
                float left
                +mobile()
                    width 100%
                    margin-bottom 10px
            .texto
                width 57%
                float right
                padding-top 5px
                h4
                    lato 14
                    color #fff
                    margin 0 0 1em
                h3
                    lato 24
                    margin 0 0 .6em
                    color $azulClaro
                p
                    lato 16
                    color #fff
                    margin-top 0
                    &:last-child
                        margin-bottom 0
                +mobile()
                    width 100%
                    h3
                        lato 20
                    p
                        lato 15
                .avaliacao
                    max-width 378px
                    background $azul
                    padding 7px 0 10px 20px
                    margin-top 25px
                    border 1px solid rgba(#fff, .2)
                    +mobile()
                        padding-left 10px
                    p
                        display inline-block
                        lato 14 bold
                        color #fff
                        margin-right 5px
                        margin-bottom 0
                        transform translateY(-3px)
                        +mobile()
                            display block
                            transform none
                    .estrelas
                        display inline-block
                        font-size 0
                        transform translateY(4px)
                        span
                            display inline-block
                            width 30px
                            height 29px
                            margin 0 1px
                            background $img('estrela-vazia.png') no-repeat center
                            &.selecionado
                                background $img('estrela.png') no-repeat center
                            &.avaliado
                                background $img('estrela.png') no-repeat center !important
                        &.estrelas-avaliar span
                            cursor pointer
                .especialista
                    margin-top 25px
                    position relative
                    width 100%
                    padding 15px 0 10px
                    clearfix()
                    +mobile()
                        padding-bottom 0
                    &:before
                        content ''
                        width 260px
                        position absolute
                        height 1px
                        top 0
                        left 0
                        background $verde
                        +mobile()
                            width 100%
                    img
                        width 80px
                        height 80px
                        border-radius 100%
                        border 4px solid $verde
                        margin-right 15px
                        float left
                    .texto
                        float left
                        width calc('100% - 95px')
                        color $azul
                        h4
                            lato 16 bold italic
                            margin 20px 0 6px
                        p
                            lato 12 bold italic
                            margin 0
                            max-width 315px
        .categorias
            width 40.2%
            float left
            +mobile()
                width 100%
                margin-bottom 20px
            h3
                prelude 36
                color $azul
                margin 0 0 10px
                +mobile()
                    font-size 28px
            a
                display block
                padding 8px 16px
                background $azulClaro
                color $azul
                transition color .3s, background .3s
                margin-bottom 3px
                lato 16 bold italic
                +mobile()
                    font-size 15px
                &:hover
                &.active
                    background $azul
                    color $azulClaro
        .categoria-selecionada
            width 56.333%
            float right
            +mobile()
                width 100%
            h3
                prelude 36
                color $azul
                +mobile()
                    font-size 28px
                margin 0 0 10px
            .pergunta
                width 100%
                margin 0 0 5px
                background $azul
                transition background .3s
                .handle
                    display block
                    padding 12px 16px
                    padding-right 40px
                    lato 20
                    color #fff
                    position relative
                    transition padding .3s, background .3s, color .3s
                    +mobile()
                        lato 18
                    &:hover
                        padding-left 16px
                    &:after
                        content ''
                        position absolute
                        width 23px
                        height 100%
                        top 0
                        right 10px
                        background $img('sinal_mais.png') no-repeat center
                .resposta
                    display none
                    padding 0 16px
                    p
                        lato 16
                        padding 0
                        margin .5em 0
                        color $azul
                        &:first-child
                            margin-top 0
                        &:last-child
                            margin-bottom 0
                    .avaliacao
                        max-width 378px
                        background $azul
                        padding 7px 0 10px 20px
                        margin-top 20px
                        border 1px solid rgba(#fff, .2)
                        +mobile()
                            padding-left 10px
                        p
                            display inline-block
                            lato 14 bold
                            color #fff
                            margin-right 5px
                            margin-bottom 0
                            transform translateY(-3px)
                            +mobile()
                                display block
                                transform none
                        .estrelas
                            display inline-block
                            font-size 0
                            transform translateY(4px)
                            span
                                display inline-block
                                width 30px
                                height 29px
                                margin 0 1px
                                background $img('estrela-vazia.png') no-repeat center
                                &.selecionado
                                    background $img('estrela.png') no-repeat center
                                &.avaliado
                                    background $img('estrela.png') no-repeat center !important
                            &.estrelas-avaliar span
                                cursor pointer
                    .especialista
                        margin-top 20px
                        position relative
                        width 100%
                        padding 15px 0 20px
                        clearfix()
                        &:before
                            content ''
                            width 260px
                            position absolute
                            height 1px
                            top 0
                            left 0
                            background $verde
                            +mobile()
                                width 100%
                        img
                            width 80px
                            height 80px
                            border-radius 100%
                            border 4px solid $verde
                            margin-right 15px
                            float left
                        .texto
                            float left
                            width calc('100% - 95px')
                            color $azul
                            h4
                                lato 16 bold italic
                                margin 20px 0 6px
                            p
                                lato 12 bold italic
                                margin 0
                                max-width 315px
                &.active
                    background #fff
                    .handle
                        font-weight 700
                        color $azul
                        &:after
                            background-image $img('sinal_menos.png')
