.politica-de-privacidade
    .titulo
        padding 40px 0 35px
        +mobile()
            padding 25px 0 20px
        h1
            margin-bottom 0
            line-height 1
    .texto
        width 100%
        margin 0 auto
        max-width 800px
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        color $azul
        a
            text-decoration underline
            &:hover
                color $verde
        p
        ul
            lato 15
            +mobile()
                font-size 14px
        ul
            padding 0
            list-style none
            li
                position relative
                padding-left 1em
                line-height 1.5
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                + li
                    margin-top 5px
        img 
            display block
            max-width 100%